// Literal Colors

$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$orange: #ffa500;
$green: #008000;
$red: #ff0000;

// Contextual Colors

$primary: $white;
$secondary: $black;
$info: $blue;
$warning: $orange;
$success: $green;
$error: $red;
