// Literal Colors
$white: #fefbfb;
$black: #000000;

$blue: #13131f;
$orange: #ffa500;
$green: #008000;
$red: #ff0000;

$purple-light: #8257e6;
$purple-dark: #13131f;
$gray-50: #c4c4c4;
$gray-200: #989898;
$gray-500: #282830;

$gradient: linear-gradient(
  180deg,
  rgba(130, 87, 230, 0.3) 0%,
  rgba(19, 19, 31, 1) 15%
);

// Contextual Colors
$primary: $purple-light;
$secondary: $white;

$text-primary: $white;
$text-secondary: $gray-50;

$info: $blue;

$warning: $orange;
$success: $green;
$error: $red;
$background: $purple-dark;
