@use 'styles/colors.scss';
@use 'styles/breakpoints.scss';

.title-container {
  p {
    line-height: 1.5rem;
    max-width: 550px;
  }
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 2rem;

  width: 100%;
  height: 100%;

  @include breakpoints.and-up(md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'first second'
      'first third';
  }
}

.card {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;
  height: 100%;

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  & > main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: rgba(0, 0, 0, 0.6);

    padding: 1rem;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all 0.4s;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }

    .badge {
      background-color: colors.$primary;

      border-radius: 5px;

      padding: 0.5rem;
      margin-bottom: auto;

      width: min-content;

      p {
        color: colors.$text-primary;
      }
    }
  }
}

.main-card {
  grid-area: first;

  & > main {
    & > h2 {
      font-size: 0.85rem;
    }
  }

  @include breakpoints.and-up(md) {
    & > main {
      h2 {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}

.second-card {
  grid-area: second;

  & > main {
    & > h2 {
      font-size: 0.85rem !important;
    }
  }
}

.third-card {
  grid-area: third;

  & > main {
    & > h2 {
      font-size: 0.85rem !important;
    }
  }
}
