@use 'styles/colors.scss';
@use 'styles/breakpoints.scss';

.container {
  display: grid;
}

.title-container {
}

.grid {
  display: grid;
  place-items: center;
  grid: auto-fit;

  gap: 0.5rem;

  margin-top: 2rem;

  width: 100%;

  @include breakpoints.and-up(md) {
    grid-template-columns: 1fr 20rem;
  }

  // @include breakpoints.and-up(lg) {
  //   grid-template-columns: 1fr 1fr;
  // }
}

.left-grid {
  display: grid;
  gap: 1.3rem;
}

.card {
  display: flex;
  flex-direction: column;

  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  & > div {
    display: none;
  }

  &:hover {
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: end;

      padding: 1rem;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: red;
    }
  }
}
