@use 'styles/colors.scss';
@use 'styles/breakpoints.scss';

.container-title {
  margin: 2rem 0;

  & > h2 {
    font-size: 1.5rem;
    font-weight: 300;

    &::after {
      content: '';
      display: grid;

      border-bottom: 3px solid colors.$primary;

      width: 40%;
    }
  }
}

.container-grid {
  display: grid;
  gap: 1rem;

  @include breakpoints.and-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.and-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.last-news-card {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;

  margin: 0.3rem 0;

  & > a {
    & > main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      background: rgba(0, 0, 0, 0.6);

      padding: 1rem;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: all 0.4s;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }

      & > h2 {
        font-size: 1.5rem;
        font-weight: 300;
      }

      .badge {
        background-color: colors.$primary;

        border-radius: 5px;

        padding: 0.5rem;
        margin-bottom: auto;

        width: min-content;

        p {
          color: colors.$text-primary;
        }
      }
    }
  }
}
