@use 'styles/colors.scss';
@use 'styles/breakpoints.scss';

.container {
  margin-top: 1rem;
}

.container-title {
  margin: 2rem 0;

  & > h2 {
    font-size: 1.5rem;
    font-weight: 300;

    &::after {
      content: '';
      display: grid;

      border-bottom: 3px solid colors.$primary;

      width: 30%;
    }
  }
}

.container-grid {
  display: grid;
  gap: 1rem;

  @include breakpoints.and-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.and-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  margin-top: 1rem;
}

.page-link {
  padding: 1rem;

  background-color: colors.$purple-light;
  border-radius: 5px;

  margin: 0 0.2rem;

  cursor: pointer;
}

.previous-item-button {
  padding: 1rem;

  background-color: colors.$purple-light;
  border-radius: 5px;

  margin: 0 0.2rem;

  cursor: pointer;
}

.next-item-button {
  padding: 1rem;

  background-color: colors.$purple-light;
  border-radius: 5px;

  margin: 0 0.2rem;

  cursor: pointer;
}

.break-item-button {
  padding: 1rem;

  background-color: colors.$purple-light;
  border-radius: 5px;

  margin: 0 0.2rem;

  cursor: pointer;
}

.active-page {
  transition: all 0.5s;

  color: colors.$purple-dark;
}
